[Desktop Entry]
Name=TerminaX
Comment=Open TerminaX Author: Matthew Forsyth
Exec=gnome-terminal -- bash -c "cd /media/matthew/USB-Vault/TerminaX; python3 /media/matthew/USB-Vault/TerminaX/TerminaX.py; exec bash"
Icon=utilities-terminal
Terminal=true
Type=Application
